@if (loading){
  <h1>JE CHHHHHHAAAAAAAAAARGE</h1>
} @else {

  @for(post of posts; track post.id){
    <tr>
      <td>{{post.id}}</td>
      <td>{{post.title}}</td>
    </tr>

  } @empty {
    <p>J'ai rien trouvé parce que c'est vide</p>
  }

}

<div style="margin-top: 10vh">
  <form>
    <label>
      <input type="radio" name="color" [(ngModel)]="couleur" value="bleu">
      Bleu
    </label>
    <label>
      <input type="radio" name="color" [(ngModel)]="couleur" value="rouge">
      Rouge
    </label>
    <label>
      <input type="radio" name="color" [(ngModel)]="couleur" value="chartreuse">
      The best one
    </label>
  </form>

  @switch (couleur){
    @case ("bleu") {<h3>C'est bleu</h3>}
    @case ("rouge") {<h3>C'est rouge</h3>}
    @default {
      <h2>Chartreuse!!!!!</h2>
    }
  }
</div>



